.fill-color{
    background-color: rgb(18, 17, 28);
}
.card-body{
    margin: 0;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.heading-details{
    padding: 6rem 0;
    display: grid;
    grid-template-columns: 50% 50%;
}
.left h5,.left h1,.left p{
    margin: 2rem;
    line-height: 2rem;
}
.left h1{
    line-height: 3rem;
    color: white;
    font-size: 38px;
    font-weight: 100;
}
.left p{
    font-size: 17px;
}
.right{
    display: flex;
    align-items: flex-end;
    padding-left: 2rem;
}
.card-holder{
    display: flex;
    justify-content: center;
    width: 38rem;
}

.card-content{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.car-image-holder{
    z-index: 1;
    position: relative;
    width: 46rem;
    height: 28rem;
    margin-right: -5rem;
    border-radius: 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(18, 17, 28);
}
.car-image-holder img{
    width: 26rem;
    height: 26rem;
    margin-top: .9rem;
    margin-left: .3rem;
    object-fit: cover;
    border-radius: 20rem;
}
.card-details-holder{
    position: relative;
    background-color: rgb(18, 52, 56);
    /* z-index: -2; */

    padding: 2rem 10rem;
    height: 28rem;
}

.card-header{
    margin-top: 0rem;
}
.card-header h1{
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
}

.card-paragraph p{
    margin-top: 2rem;
    font-family: sans-serif;
    font-size: 13px;
    line-height: 2;
    color: rgb(210, 210, 210);
}
.card-link-button{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}
.card-link-button .icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    border: 1px solid rgb(231, 115, 26);
}
.card-link-button span{
    font-size: 1.5rem;
    letter-spacing: .5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.card-bottom{
    position: absolute;
    bottom: 3px;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    background-color: rgb(18, 52, 56);
}
.card-bottom .icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    border: 1px solid rgb(231, 115, 26);
}
.card-bottom span{
    font-size: 16px;
    color:rgb(210, 210, 210);
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 1024px){
    .heading-details{
        display: grid;
        grid-template-columns: 100%;
    }
    .card-holder{
        width: 18rem;
    }
    .card-content{
        flex-wrap: wrap;
    }
    .car-image-holder{
        position: relative;
        width: 14rem;
        height: 14rem;
        margin-bottom: -7rem;
        margin-left: -5rem;
        border-radius: 20rem;
        background-color: rgb(18, 17, 28);
    }
    .car-image-holder img{
        width: 12rem;
        height: 12rem;
    }
    .card-header{
        margin-top: 10rem;
    }
    .card-details-holder{
        height: 35rem;
        padding: 0 1.5rem;
    }
    .card-bottom{
        position: absolute;
        bottom: 0rem;
        display: flex;
        align-items: center;
        padding: 1.5rem 0;
        background-color: rgb(18, 52, 56);
    }
}