@import '../../assets/scss/variable';
@import '../../assets/scss/mixins';
@import '../../assets/scss/config';

.contacts_section {
  background-image: url('../../assets/images/contacta-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 900px;
  @include d-flex(center, flex-end);
}

.contacts_wrapper {
  background-color: $secondary-backg;
  width: 100%;
  @include d-flex(space-between, center);
  flex-direction: column;
  padding: 3rem 1rem 4rem;
  gap: 1rem;
}

article.contact_content {
  width: 100%;
  // text-align: center;

  .contacts_title {
    width: 80%;
    margin: 2rem 0;
    // color: $header-color;
  }

  .contacts_text {
    // font-size: 1rem;
    @extend %normal-text;

    margin: 0.5rem 0 1rem;
  }
}

form {
  width: 100%;

  .input_wrapper {
    width: 100%;
    width: 100%;
  }

  input {
    width: 100%;
    margin: 5px auto 0.8rem;
    border: 1px solid #d0d9d4;
    border-radius: 0.25rem;
    padding: 15px 16px;
    font-size: 16px;
    font-family: $xs-family;
  }
  
  textarea {
    width: 100%;
    height: 160px;
    margin-bottom: 24px;
    border: 1px solid #d0d9d4;
    border-radius: 0.25rem;
    padding: 15px 12px;
    font-size: 16px;
    font-family: $xs-family;
  }

  input:focus,
  textarea:focus {
    border: 1.5px solid $secondary-color;
  }
  
  input:hover::placeholder,
  textarea:hover::placeholder {
    transition: 0.5s;
    transform: translateX(5px);
  }

  .btn_div button {
    @include d-flex(flex-start, center);
    margin-top: 0.5rem;
    padding: 1rem 0;
    
    svg {
      @extend %svg-btn;
    }
    
    p {
      color: $primary-color;
      font-size: .875rem;
      font-weight: 500;
      line-height: 1.25rem;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-family: Atyp Display Medium,ui-sans-serif,system-ui,-apple-system;
    }
  }
  
  // .btn_div button {
  //   height: 48px;
  //   width: 159px;
  //   font-size: 17px;
  //   line-height: 24px;
  //   font-weight: 500;
  //   border-radius: 4px;
  //   color: $secondary-color;
  //   border: 1px solid $secondary-color;
  //   @extend %btn-clicked;
  //   letter-spacing: 0.03em;
  //   padding: 12px;
  //   margin-bottom: 10px;
  // }
}

@include media(480px) {
  .contacts_wrapper {
    padding: 3rem 5% 4rem;
    width: 96%;
    margin: 0 auto;
    max-width: 1400px;
  }

  .contacts_header {
  
    // .contacts_title {
    //   font-size: 2rem;
    // }
  }

  article.contact_content {
    .contacts_text {
      // font-size: 1.3rem;
      margin: 1rem 0 1.5rem;
    }
  }
}

@include media(768px) {
  .contacts_section {
    // padding: 1rem 1rem 3rem;
  }

  form {
    .input_wrapper {
      @include d-flex(flex-start, center);
      column-gap: 0.5rem;

      & > * {
        flex: 1;
      }
    }
  } 
}

@include media(992px) {
  .contacts_wrapper {
    width: 96%;
    padding: 4rem 5% 5rem;
    @include d-flex(space-between, flex-start);
    flex-direction: row;
    gap: 5%;
  }

  .contacts_header {
  
    .contacts_title {
      // margin: 1rem auto;
      // font-size: 2.5rem;
      // padding-bottom: 1rem;        
    }
  }

  article.contact_content {
    width: 40%;
    // padding: 0 1rem;
  
    .contacts_text {
      // font-size: 1.5rem;
      // line-height: 2.4rem;
      font-weight: 400;
      margin: 1rem 0 1.5rem;
    }
  }

  form {
    width: 60%;
    // max-width: 780px;

  }  
}
